      .flex{
        display: flex;
        flex-direction: row;
      }
      .lightblue{
        width: 50px;
        background-color: lightblue;
      }
      .lightpink{
        flex: 1;
        background-color: lightpink;
      }
      .lightblue{
        width: 75px;
        background-color: lightblue;
      }
