.o{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.p{
  color: grey;
  vertical-align: middle;
}
.t{
  border: none;
  margin-right: 100px;
  vertical-align: middle;
}
.b{
  color: white;
  background-color: rgb(54, 107, 220);
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;

}